{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "base/css/style.css" %}">
    {% block css %} {% endblock %}
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <img src="{% static "base/icons/LogoAntinormanist.png" %}" alt="Logo">
        <a href="#" class="header-item login">Login</a>
        <a href="#" class="header-item register">Register</a>
        <a href="#" class="header-item logout">Logout</a>
    </header>
    {% block content %} {% endblock %}
</body>
</html>