{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "main/css/style.css" %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="container-main">
        <form action="" method="GET">
            <div class="write-task">
                <label for="text">New task</label>
                <input type="text" id="text" name="text" placeholder="Go to gym...">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Gym">
            </div>
            <div class="choose-priority">
                <label for="priorities">choose priority</label>
                <select name="priorities" id="priorities">
                    <option value="common">common</option>
                    <option value="medium">medium</option>
                    <option value="important">important</option>
                </select>
            </div>
            <button class="create">create</button>
        </form>
    </div>
    {% for user_task in tasks %}
    <div class="task">
        <h3>{{ user_task.name }}</h3>
        <p class="p">{{ user_task.text }}</p>
        <form action="" class="delete-task" method="GET">
            <input type="hidden" name="task-slug" value="{{ user_task.slug }}" id="">
            <input type="hidden" name="delete-task" value="1" id="">
            <button class="delete-task-btn" type="sumbit"><img src="{% static "main/icons/deleteIcon.png" %}" alt="delete" width="25px" height="25px"></button>
        </form>
        <div class="{{ user_task.task_class }}">
            <p>{{ user_task.priority }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}